*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(34, 32, 32);
}

section{
    width: 100%;
    text-align: center;
    padding: 20px 25%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(231, 223, 208);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    margin-bottom: 10px;
    font-size: 30px;
}

p{
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 30px;
}

.logo img{
    max-width: 150px;
    height: auto;
}

@media (min-width: 769px) {
    section:nth-of-type(1){
        background-image: url("imagens/imagem1.jpg");
        height: 800px;
    }

    section:nth-of-type(3){
        background-image: url("imagens/imagem2.jpg");
        height: 600px;
    }

    section:nth-of-type(5){
        background-image: url("imagens/imagem3.jpg");
        height: 800px;
    }

    section:nth-of-type(7){
        background-image: url("imagens/imagem4.jpg");
        height: 800px;
    }

    section:nth-of-type(9){
        background-image: url("imagens/imagem5.jpg");
        height: 800px;
    }
}

@media (max-width: 769px) {
    .imagem{
        background-size: contain;
        height: 100vh;
        padding: 0;
    }

    section:nth-of-type(1){
        background-image: url("imagens/imagem1m.jpg");
    }
    
    section:nth-of-type(3){
        background-image: url("imagens/imagem2m.jpg");
    }
    
    section:nth-of-type(5){
        background-image: url("imagens/imagem3m.jpg");
    }
    
    section:nth-of-type(7){
        background-image: url("imagens/imagem4m.jpg");
    }
    
    section:nth-of-type(9){
        background-image: url("imagens/imagem5m.jpg");
    }
}
